
section{
    padding: 50px 0;
}
h2{
    text-transform: uppercase;
}
section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
    text-transform: none;
    font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #eceeef;
    border-radius: .3rem;
}
.text-muted {
    color: #636c72!important;
}
p {
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: 1rem;
}

.list-inline-item {
    display: inline-block;
}

section a,
footer a {
    color: #d41111 !important;
}
.footer {
    display: flex;
    align-items: baseline;
  }
  
.footer div {
    display: flex;
    justify-content: center;
}
.row{
    align-items: center;
}
.firm{
    justify-content: center;
    display: flex;
}
footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
.fa-twitter{
    display: flex !important;
    justify-content: center;
    padding-top: 10px;
}
ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #fff !important;
    border-radius: 100%;
    outline: 0;
    background-color: #222;
}