nav {
    background-color: #222;
  }
  
  nav button {
    background-color: #d41111 !important;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 15px !important;
  }
  
  .navbar-brand {
    color: #d41111 !important;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
  }
  
  #navbarNavDropdown {
    justify-content: flex-end;
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    list-style: none;
  }
  
  .navbar-nav li {
    text-align: right;
  }
  
  .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff !important;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    display: block;
  }